{% load static %}
<!DOCTYPE html>
<html>
<title>VRGL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><img class="w3-image" src="{%static "vrglblue.png"%}" alt="wtf" width="50" height=""></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="" class="w3-bar-item w3-button">Home</a>
      <a href="tools/" class="w3-bar-item w3-button">Tools</a>
      <a href="community/" class="w3-bar-item w3-button">Community</a>
      <a href="resources/" class="w3-bar-item w3-button">Resources</a>
       <a href="aboutus/" class="w3-bar-item w3-button">About Us</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:2000px;" id="home">
  <img class="w3-image" src="{% static "VRGL.png" %}" alt="Architecture" width="1700" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-hide-small w3-text-white"><span class="w3-xxlarge w3-text-black"></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Mission Statement</h3>
    <p>Using our provided services, we want to promote productivity and the development of better study habits through a supportive environment.</p>
  </div>

  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">What is VRGL?</h3>
    <p>VRGL(vur-juh l) is an online study companion</p>
  </div>

  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meaning Behind VRGL</h3>
    <p>VRGL is actually an acronym for Virtual Resource for Good Learning. We got the inspiration to name the service “VRGL” from the poem, “Dante’s Inferno” (also known as “The Divine Comedy”).</p>

    <p class="w3-opacity">Dante's Inferno</p>
    <p>In the story, the poet Virgil guides the author Dante through the nine circles of Hell. At the end of the story, it is revealed to Dante that in order to ascend to Heaven, he must realize the consequences of own sins. After doing so, Dante finally takes a voyage to the afterlife. 
    
    <p>Similarly, our service “VRGL” acts as a guardian figure and companion to users who are using the program to get through the difficulties of life (school, work, etc.). However, users may only reach a place of personal achievement if they learn from the service and grow. </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Jett Costibolo</h3>
      <p class="w3-opacity">Main Developer - Back End</p>
      <p>2nd Year Computer Engineering</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Caroline Padilla</h3>
      <p class="w3-opacity">Main Developer - Back End</p>
      <p>2nd Year Software Engineering</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Matthew Patacsil</h3>
      <p class="w3-opacity">Main Developer - Front End</p>
      <p>4th Year Software Engineering</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Ryan Madamba</h3>
      <p class="w3-opacity">Developer and Design</p>
      <p>2nd Year Computer Engineering</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
     <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Zen Tran</h3>
      <p class="w3-opacity">Developer and Design</p>
      <p>2nd Year Liberal Arts and Engineering Studies</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Alyssa Olivarria</h3>
      <p class="w3-opacity">Web/Graphic Designer</p>
      <p>2nd Year Graphic Communications</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Zeya Longid</h3>
      <p class="w3-opacity">Web/Graphic Designer</p>
      <p>1st Year Architectural Engineering</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
</div>

<!-- End page content -->
</div>


<!-- Footer -->

</body>
</html>



